<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Aplicación Vue</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<link rel="stylesheet" href="bootstrap.css">	
</head>
<body>
	
	<div class="container">
		<div class="row mt-5">
			<div class="col-sm-6">
				<h1 v-if="lists.length > 0">Agregar una tarea</h1>
				<h1 v-else="lists">Crear una tarea</h1>
				<input type="text" class="form-control" v-model="newKeep" v-on:keyup.enter="addKeep">
			</div>
			<div class="col-sm-6">
				<h1 v-if="lists.length > 0">Listado de Tareas</h1>
				<h1 v-else="lists">No hay tareas registradas</h1>
				<ul class="list-group">
					<li class="list-group-item" v-for="(item, index) in lists" v-bind:class="item.completed == true ? 'list-group-item-success' : ''" @click.right="delKeep(index)" @click.left="item.completed = !item.completed">{{ item.keep }}</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<hr>
				<pre>
					{{ $data }}
				</pre>
			</div>
		</div>
	</div>

	
	<script src="jquery-3.3.1.min.js"></script>
	<script src="bootstrap.js"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
	<script src="script.js"></script>
</body>
</html>	